.myClass{
    border:10px solid red;    
}


body{
  width:1500px;
  height:100px;
  background-color:black;
  overflow: hidden;
  transition:all .7s;
}


#navbar{
  position:fixed;
  color:gray;
  height:50px;
  width:1550px;
  left:22px;
  top:0;
  border-radius:10px;
  transition:all .7s;
  z-index:1;
  opacity:1;
  background-color:black;
}


.nav{
  position:relative;
  font-size:30px;
  border-radius:10px;
  top:5px;
  font-family: Papyrus, fantasy;
  z-index:-1;
  cursor: pointer;
}


#home{
  left:30px;
  color:white;
  text-shadow:0px 0px 10px white;
  cursor:pointer;
  z-index: 2px;
  transition:all .7s;
}


#login{
  left:450px;
  cursor:pointer;
  border: 100% solid red;
  z-index: 2px;
  transition:all .7s;
}


#about{
  left:230px;
  cursor:pointer;
  z-index: 2px;
  transition:all .7s;
}


#signup{
  left:69px;
  cursor:pointer;
  z-index: 2px;
}


#about{
  left:450px;
  cursor:pointer;
  z-index: 2px;
}


#theprogram{
  left:630px;
  cursor:pointer;
  z-index: 2px;
}


#start{
  left:732px;
  cursor:pointer;
  z-index: 2px;
}


#wrap{
  position:relative;
  top:100px;
}


.sections{
  width:1550px;
  position:absolute;
  height:650px;
  color: #003366;
  background-color:#141414;
  border-radius:20px;
  text-align:center;
  top:-40px;
  left:18px;
  opacity:0.1;
  transition:all .7s;
}


#welcome{
  opacity:1;
}


#welcomeHead{
  color:white;
  font-size:100px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  transition:all .7s;
}

#seperate{
  position:absolute;
  bottom:280px;
  left:476px;
  border:1px solid #003366;
  width:600px;
  transition:all .7s;
}



#subWelcome{
  position:absolute;
  left:290px;
  color:#CCCC99;
  font-size:28px;
  cursor:pointer;
  width:980px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  transition:all .7s;
}




#info{
  opacity:0;
  
}


#list{
  border:1px solid red;
}


ol{
  list-style-type:none
}
#who{
  height:100px;
  width:100px;
  top:0px;
  left:796px;
  border: 1px solid #003366;
  cursor: pointer;
}


#what{
  height:100px;
  width:100px;
  top:0px;
  border: 1px solid #003366;
}


#why{
  height:100px;
  width:100px;
  bottom:0px;
  left:796px;
  bottom: 1px solid #003366;
}


#how{
 width:100px;
 height:100px;
 bottom:0px;
 left:0px; 
 border: 1px solid #003366;
}


.we{
  position:relative;
  top:200px;
  opacity:0;
}



#socInfo{
  color:white;
  opacity:0;
  text-align:center;
  
}


#WIS{
  position:relative;
  font-size:100px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  top:100px;
}

#subInfo{
  position:absolute;
  left:480px;
  width:600px;
  top:380px;
  font-size:25px;
  font-family:Copperplate, "Copperplate Gothic Light", fantasy;
  color:#CCCC99;
}

.socInfoTags{
  color:#003366; 
  font-size:29px;
}

#end{
  opacity:0;
  font-size:100px;
  color:white;
  
}
