body{
  background-color:#222;
  height:1900px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjMWUyMDIxIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzI3MmMyZiIgc3Ryb2tlLXdpZHRoPSIxIj48L3BhdGg+Cjwvc3ZnPg==")
}


.container{
  
}


#style{
}


.nav{
  text-align: center;
  margin-top:0.2%;
  display: inline-block;
  list-style: none;
  float:left;
  padding: 2%; 
  width:80px;
  height:23px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  transition:all 0.7s;
  z-index: -2;
}


.navbar{
  text-align: center;
  color:white;
  width:101%;
  height:4%;
  background-color:#3E9AB4;
  z-index:2;
  position:relative;
  margin-top:-1.2%;
  margin-left: -0.5%;
  text-align:center;
  margin-bottom:1%;
  box-sizing: border-box;
  transition:all 0.7s;
}



.nav:hover{
  -webkit-box-shadow:  1px 10px 18px 3px rgba(0, 0, 0, 0.89);
  -moz-box-shadow:     1px 10px 18px 3px rgba(0, 0, 0, 0.89);
  box-shadow:          1px 10px 18px 3px rgba(0, 0, 0, 0.89);
  text-shadow:0 0 10px white;
  opacity:0.8;
  height:150px;
  z-index: -2;

}


#home{
  
}





img{
  
}


.welcome{
  position:relative;
  margin-top: -1%;
  width:101%;
  height:38%;
  margin-left: -0.5%;
  z-index:10;
  text-align:center;
  background-repeat:no-repeat;
  background-size:cover;
  opacity:0.7;
  border-top:1px solid black;
}


.welcome h1{
  font-weight: bold;
  color:#ffffff;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-size:70px;
  text-shadow:0 0 3px black; 
  margin-top:15%;
  margin-bottom:-10%; 
}


#seperate{
  bottom:280px;
  border:1px outset #4F94CD;
  transition:all .7s;
  width:0%;
  margin-top:11%;
  margin-left:30%;
  margin-bottom:-11%
}


.welcome p{
  font-size:20px;
  color:#DBE8F9;
 font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  text-shadow:0 0 3px black;
  margin-top:13%;
}


#info{
  float:left;
  height:40.6%;
  margin-top: -1%;
  width:101%;
  margin-left: -0.5%;
  z-index:1;
  background-color:rgb(192, 135, 62);
  opacity:0.8;
}


.infocontainer{
  float:left;
  height:100px;
  margin-top: 1%;
  width:700px;
  margin-top:21%;
  margin-bottom: 23%;
  margin-left: 23%;
  margin-right: 23%;
  transition: all 0.7s;
  display:inline-block;
}


.proclaim{
  color:white;
  text-align:center;
  width:100px;
  height:100px;
  transition: all 0.7s;
  display:inline-block;
 font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size:32px;
  cursor:pointer;
  background-color:black;
  border-radius:4px;
  -webkit-box-shadow: 7px 7px 5px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 1px rgba(50, 50, 50, 0.75);
}


#who{
  transition: all 0.7s;
  margin-left:10%;
}


#what{
  transition: all 0.7s;
  margin-left:10%
}


#why{
  transition: all 0.7s;
  margin-left:10%;
}


#how{
  transition: all 0.7s;
  margin-left:10%;
}

.proclaim:hover {
  /*transform*/
  -webkit-transform:perspective(800px) rotate3d(1, 0, 0, 17deg);
  -moz-transform:perspective(800px) rotate3d(1, 0, 0, 17deg);
  -ms-transform:perspective(800px) rotate3d(1, 0, 0, 17deg);
  -o-transform:perspective(800px) rotate3d(1, 0, 0, 17deg);
  transform:perspective(800px) rotate3d(1, 0, 0, 17deg);
  

  -webkit-box-shadow: 24px 24px 5px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 24px 24px 5px 1px rgba(50, 50, 50, 0.75);
  box-shadow: 24px 24px 5px 1px rgba(50, 50, 50, 0.75);
  opacity:0.7;
}


#socInfo{
  position:relative;
  top: 0;
  float:left;
  width:100%;
  height:40%;
  z-index:-1;
  margin-top: -1%;
  width:101%;
  margin-left: -0.6%;
  text-align:center;
  font-size:40px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  opacity:0.7;
  background-color:white;
}


#socInfoContainer{
  color:#8D8D8D;
  margin-top:10%;
}


#socInfoContainer p{
  font-size:20px;
}


#smart{
  color:black;
}


#engagin{
  color:black;
}


#games{
  color:black;
}


#SSF{
  color:black;
}



.testimony{
  font-size:30px;
  color:white;
  cursor:pointer;
  transition:all 0.7s;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}


.testimony:hover{
  color:#5F625A;
  opacity:0.7;
}


#end{
  color:white;
  background-color: black;
  height:19%;
  margin-top:17%;
  opacity: 0.8;
}
